/*IE 8 + 9*/
#sidebar_wrap .form-actions {padding: 0px 0px 0px 0px \0/IE9;}

.ie8 .carousel_item_image img, .ie8 .greyvertical img {
	height: 154px;
	width: 300px !important;
	max-width: none;
}

.ie8 h5 {
font-size: 18px !important;
}

.ie8 h6 {
font-size: 15px !important;
}

.ie8 .itemstripe img {
	height: 853px;
	width: 210px;
	max-width: none;
}

.ie8 .griditem img {
	height: 234px;
	width: 460px;
}

.ie8 .gridblock img {
	height: 171px;
	width: 335px;
}

